/JavaStringReverse/nbproject/private/
/JavaStringReverse/build/
/GradingStudents/nbproject/private/
/GradingStudents/build/
/Algorithms/AppleAndOrange/nbproject/private/
/Algorithms/AppleAndOrange/build/
/JavaChallenges/SubstringComparisons/nbproject/private/
/JavaChallenges/SubstringComparisons/build/
/Algorithms/MigratoryBirds/nbproject/private/
/Algorithms/MigratoryBirds/build/
/JavaChallenges/Anagrams/nbproject/private/
/JavaChallenges/Anagrams/build/
/Algorithms/BonAppetit/nbproject/private/
/Algorithms/SockMerchant/nbproject/private/
/Algorithms/SockMerchant/build/
/Algorithms/DrawingBook/nbproject/private/
/Algorithms/DrawingBook/build/
/Algorithms/ElectronicShop/nbproject/private/
/Algorithms/DivisibleSumPairs/nbproject/private/