/JavaStringReverse/nbproject/private/
/JavaStringReverse/build/
/GradingStudents/nbproject/private/
/GradingStudents/build/
/Algorithms/AppleAndOrange/nbproject/private/
/Algorithms/AppleAndOrange/build/
/JavaChallenges/SubstringComparisons/nbproject/private/
/JavaChallenges/SubstringComparisons/build/
/Algorithms/MigratoryBirds/nbproject/private/
/Algorithms/MigratoryBirds/build/
/JavaChallenges/Anagrams/nbproject/private/
/JavaChallenges/Anagrams/build/
/Algorithms/BonAppetit/nbproject/private/
/Algorithms/SockMerchant/nbproject/private/
/Algorithms/SockMerchant/build/
/Algorithms/DrawingBook/nbproject/private/
/Algorithms/DrawingBook/build/
/Algorithms/ElectronicShop/nbproject/private/
/Algorithms/DivisibleSumPairs/nbproject/private/
/Algorithms/BreakingTheRecords/build/
/Algorithms/BreakingTheRecords/nbproject/private/
/Algorithms/BrithdayCakeCandles/dist/
/Algorithms/BrithdayCakeCandles/nbproject/private/
/Algorithms/BreakingTheRecords/dist/
/Algorithms/BreakingTheRecords/nbproject/private/
/Algorithms/BreakingTheRecord/nbproject/private/
/Algorithms/BreakingTheRecord/build/
/Algorithms/BirthdayCakeCandles/nbproject/private/
/Algorithms/BirthdayCakeCandles/build/
/Algorithms/CatsAndMouse/nbproject/private/
/Algorithms/CatsAndMouse/dist/
/Algorithms/CatsAndMouse/build/
/Algorithms/CountingValleys/nbproject/private/
/Algorithms/CountingValleys/build/
/Algorithms/PickingNumbers/nbproject/private/
/Algorithms/PickingNumbers/build/
/Algorithms/MarcsCakewalk/nbproject/private/
/Algorithms/MarcsCakewalk/build/
/Algorithms/ClimbingTheLeaderboard/nbproject/private/
/Algorithms/ClimbingTheLeaderboard/build/
/Algorithms/ClimbingTheLeaderboard/dist/
/Algorithms/PDFviewer/nbproject/private/
/Algorithms/PDFviewer/build/
/Algorithms/PDFviewer/dist/
/Algorithms/TheHurdleRace/nbproject/private/
/Algorithms/TheHurdleRace/build/
/Algorithms/Day of the Programmer/nbproject/private/
/Algorithms/Day of the Programmer/build/
/JavaChallenges/DateAndTime/nbproject/private/
/JavaChallenges/DateAndTime/dist/
/JavaChallenges/DateAndTime/build/
/JavaChallenges/CurrencyFormatter/nbproject/private/
/JavaChallenges/CurrencyFormatter/build/
/Algorithms/AngryProfessor/nbproject/private/
/Algorithms/AngryProfessor/build/
/Algorithms/BeautifulDayAtTheMovies/nbproject/private/
/Algorithms/BeautifulDayAtTheMovies/build/
/Algorithms/FindDigits/nbproject/private/
/Algorithms/FindDigits/build/
/Algorithms/CircularArrayRotation/nbproject/private/
/Algorithms/CircularArrayRotation/build/
/Algorithms/BetweenTwoSets/nbproject/private/
/Algorithms/CutTheSticks/nbproject/private/
/Algorithms/CutTheSticks/build/
/Algorithms/CutTheSticks/dist/
/JavaChallenges/PatternSyntaxChecker/nbproject/private/
/JavaChallenges/PatternSyntaxChecker/build/