/JavaStringReverse/nbproject/private/
/JavaStringReverse/build/
/GradingStudents/nbproject/private/
/GradingStudents/build/
/Algorithms/AppleAndOrange/nbproject/private/
/Algorithms/AppleAndOrange/build/
/JavaChallenges/SubstringComparisons/nbproject/private/
/JavaChallenges/SubstringComparisons/build/
/Algorithms/MigratoryBirds/nbproject/private/
/Algorithms/MigratoryBirds/build/
/JavaChallenges/Anagrams/nbproject/private/
/JavaChallenges/Anagrams/build/
/Algorithms/BonAppetit/nbproject/private/
/Algorithms/SockMerchant/nbproject/private/
/Algorithms/SockMerchant/build/
/Algorithms/DrawingBook/nbproject/private/
/Algorithms/DrawingBook/build/
/Algorithms/ElectronicShop/nbproject/private/
/Algorithms/DivisibleSumPairs/nbproject/private/
/Algorithms/BreakingTheRecords/build/
/Algorithms/BreakingTheRecords/nbproject/private/
/Algorithms/BrithdayCakeCandles/dist/
/Algorithms/BrithdayCakeCandles/nbproject/private/
/Algorithms/BreakingTheRecords/dist/
/Algorithms/BreakingTheRecords/nbproject/private/
/Algorithms/BreakingTheRecord/nbproject/private/
/Algorithms/BreakingTheRecord/build/
/Algorithms/BirthdayCakeCandles/nbproject/private/
/Algorithms/BirthdayCakeCandles/build/
/Algorithms/CatsAndMouse/nbproject/private/
/Algorithms/CatsAndMouse/dist/
/Algorithms/CatsAndMouse/build/
/Algorithms/CountingValleys/nbproject/private/
/Algorithms/CountingValleys/build/
/Algorithms/PickingNumbers/nbproject/private/
/Algorithms/PickingNumbers/build/
/Algorithms/MarcsCakewalk/nbproject/private/
/Algorithms/MarcsCakewalk/build/
/Algorithms/ClimbingTheLeaderboard/nbproject/private/